<app-header></app-header>

<div class="admin-dashboard">
  <div class="sidebar">
    <div class="sidebar-title">
      <h1>Admin</h1>
    </div>
    <a class="sidebar-link" href="/user-management">
      <p>Users ({{ userCount }})</p>
    </a>
    <a class="sidebar-link" href="/product-management">
      <p>Products ({{ productCount }})</p>
    </a>
    <a class="sidebar-link" href="/category-management">
      <p>Categories ({{ categoryCount }})</p>
    </a>
    <a class="sidebar-link" href="/brand-management">
      <p>Brands ({{ brandCount }})</p>
    </a>
    <a class="sidebar-link" >
      <p>Pages ({{ pageCount }})</p>
    </a>
  </div>

  <div class="main-content">
    <div class="overview-title">
      <h2>Website Overview</h2>
    </div>
    <div class="statistics">
      <div class="stat-card">
        <span>{{ userCount }}</span>
        <span>Users</span>
      </div>
      <div class="stat-card">
        <span>{{ productCount }}</span>
        <span>Products</span>
      </div>
      <div class="stat-card">
        <span>{{ categoryCount }}</span>
        <span>Categories</span>
      </div>
      <div class="stat-card">
        <span>{{ brandCount }}</span>
        <span>Brands</span>
      </div>
      <div class="stat-card">
        <span>{{ pageCount }}</span>
        <span>Pages</span>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
