* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.header {
  background-color: #005b96; /* Azul para o cabeçalho */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 60px;
}

.nav-bar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-bar {
  flex-grow: 1;
}

.admin-dashboard {
  display: flex;
  height: calc(100vh - 60px); /* Altura do dashboard */
}

.sidebar {
  width: 250px;
  background-color: #333; /* Cor de fundo da sidebar */
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Sombra para a sidebar */
}

.sidebar-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px; /* Tamanho do título da sidebar */
}

.sidebar-link {
  display: block;
  padding: 15px;
  background-color: #444; /* Cor dos links da sidebar */
  margin: 5px 0;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px; /* Bordas arredondadas para os links */
}

.sidebar-link:hover {
  background-color: #555; /* Cor ao passar o mouse */
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f9f9f9; /* Cor de fundo do conteúdo principal */
  border-left: 1px solid #ddd; /* Borda à esquerda */
}

.overview-title {
  background-color: #005b96; 
  padding: 10px;
  color: white;
  font-size: 24px;
  text-align: center;
  border-radius: 5px; 
}

.statistics {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.stat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100px;
  background-color: #f0eeee; 
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.stat-card span {
  font-size: 18px;
  color: #333; 
}

.dropdown {
  position: relative;
}

.dropbtn {
  background-color: white; 
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1; 
}

.dropdown:hover .dropdown-content {
  display: block; 
}

.dropdown:hover .dropbtn {
  background-color: #f1f1f1; 
}
