<app-header></app-header>
<div class="product-management">
  <div class="table-container">
    <h1 class="table-container__title">Brand List</h1>
    <div class="navbar">
      <div class="table-container__tool-bar">
        <div class="table-container__search-bar">
          <svg viewBox="0 0 24 24" aria-hidden="true" class="table-container__search-bar__icon">
            <g>
              <path
                d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
              ></path>
            </g>
          </svg>
          <input #searchInput (keypress)="searchBrand($event)" type="search" placeholder="Search"/>
        </div>
        <div class="table-container__tool-bar__buttons">
          <button mat-flat-button color="primary" (click)="OpenCreateBrandModal()">
            Add Brand
          </button>
          <button mat-flat-button color="primary" (click)="goToProductManagement()">
            Go to Product
          </button>
          <button mat-flat-button color="primary" (click)="goToCategoryManagement()">
            Go to Category
          </button>
        </div>
      </div>
    </div>
    @if (brands){
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (brand of brands; track brand.id){
        <tr>
          <td><img class="table-container__table__image" src="{{ brand.imageURL }}" alt=""></td>
          <td>{{ brand.name }}</td>
          <td>{{ dateToLocal(brand.createdAt.toString()) | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ dateToLocal(brand.updatedAt.toString()) | date: 'dd/MM/yyyy HH:mm' }}</td>
          <!-- <td>
            @if ( product.isActive ) {<mat-icon
              fontIcon="check_box"
              class="enabled"
            ></mat-icon
            >} @else {<mat-icon fontIcon="check_box_outline_blank"></mat-icon>}
          </td> -->
          <!-- <td>
            @if ( product.isHighlighted ) {<mat-icon
              fontIcon="check_box"
              class="enabled"
            ></mat-icon
            >} @else {<mat-icon fontIcon="check_box_outline_blank"></mat-icon>}
          </td> -->
          <td>
            <button
              mat-flat-button
              color="accent"
              (click)="OpenUpdateBrandModal(brand.id)"
            >
              Edit
            </button>
            <!-- <button
              mat-flat-button
              color="warn"
              (click)="disableBrand(brand.id)"
            >
              Disable
            </button> -->
          </td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>  
  <div class="change-page-buttons">
    <button [ngClass]="this.pageIndex != 0 ? 'change-page-buttons__button' : 'invisible'" (click)="goToPreviousPage()">
      Previous
    </button>
    @if(pageIndex > 2){
    <button class="change-page-buttons__page-index" (click)="goToFirstPage()">
      1
    </button>
    <span>...</span>
    }
    @for (number of numbers; track numbers){
      <button [ngClass]="this.pageIndex == number - 1 ? 'change-page-buttons__page-index--selected' : 'change-page-buttons__page-index'" (click)="goToPage(number)">{{number}}</button>
    }
    @if(pageIndex < maxPage - 3){
      <span>...</span>
    <button class="change-page-buttons__page-index" (click)="goToLastPage()">
      {{this.maxPage}}
    </button>
    }
    <button [ngClass]="this.maxPage - 1 > this.pageIndex ? 'change-page-buttons__button' : 'invisible'" (click)="goToNextPage()">
      Next
    </button>
  </div>
</div>
<app-footer></app-footer>
