<app-header></app-header>
<app-navbar></app-navbar>
<div *ngIf="message" class="alert"
  [ngClass]="{'alert-success': message.includes('sucesso'), 'alert-danger': message.includes('Falha')}">
  {{ message }}
</div>
<div class="payment-page">
  <p>Choose your payment method</p>
  <div class="payment-body">
    <div class="payment-box">
      <div class="payment-method">
        <form [formGroup]="paymentForm" class="card">
          <div class="credit-debit">
            <div class="method">
              <input type="radio" id="creditCard" name="paymentMethod" formControlName="paymentMethod"
                value="credit_card">
              <label for="creditCard">Credit Card</label>
            </div>
            <div class="method">
              <input type="radio" id="debitCard" name="paymentMethod" formControlName="paymentMethod"
                value="debit_card">
              <label for="debitCard"><fa-icon class="debitCard"></fa-icon> Debit Card</label>
            </div>
          </div>
          <form class="credit-card-info">
            <div class="input-label">
              <label for="cardNumber">Card Number</label>
              <input formControlName="cardNumber" class="inputText" id="cardNumber" type="text">
            </div>
            <div class="input-label">
              <label for="cardOwner">Card Owner</label>
              <input formControlName="cardOwner" class="inputText" id="cardOwner" type="text">
            </div>
            <div class="expiration-cvv">
              <div class="input-label">
                <label for="expirationDate">Expiration Date</label>
                <div class="expiration-date" id="expirationDate">
                  <select formControlName="expirationMonth" class="inputText" name="month" id="month">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>
                  <select formControlName="expirationYear" class="inputText" name="year" id="year">
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2090">2029</option>
                    <option value="2030">2030</option>
                    <option value="2031">2031</option>
                    <option value="2032">2032</option>
                    <option value="2033">2033</option>
                    <option value="2034">2034</option>
                    <option value="2035">2035</option>
                  </select>
                </div>
              </div>
              <div class="input-label">
                <label for="cvv">CVV</label>
                <input formControlName="cvv" class="inputText" id="cvv" type="text">
              </div>
            </div>
          </form>
        </form>
        <!-- <div class="method">
          <input type="radio" id="pix" name="method">
          <label for="pix"><fa-icon class="pix"></fa-icon> Pix</label>
          <span>O código Pix gerado para o pagamento é válido por 30 minutos após a finalização do pedido.</span>
        </div> -->
      </div>
    </div>
    <div class="order-summary">
      <!-- <div class="coupon">
        <p>Coupon</p>
        <input type="text" />
      </div>
      <div class="cep">
        <p>Postal Code</p>
        <input type="text" />
      </div> -->
      <div class="summary">
        <p><strong>Order Summary</strong></p>
        <div class="summary-details">
          @if(totalAmountWithDiscount != totalAmount) {
          <p>Subtotal: <s>R$ {{ totalAmount.toFixed(2) }} </s></p>
          }
          <p>Total: R$ {{ totalAmountWithDiscount.toFixed(2) }} 
            @if(totalAmountWithDiscount != totalAmount) {
            (-{{(100 - (totalAmountWithDiscount*100.0/totalAmount)).toFixed(0) }}%)
            }
          </p>
        </div>
        <button class="buy-button" (click)="completeOrder()" [disabled]="paymentForm.invalid">Complete Order</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
