section {
  display: flex;
  height: 35em;
}

aside {
  box-sizing: border-box;
  max-width: 25%;
  height: 100%;
  background-color: #282828;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  color: white;
  font-weight: 600;
  font-size: 30px;
}

button {
  background: none;
  border: none;
  background-color: white;
  height: 2em;
  width: 8em;
  font-weight: 800;
  font-size: 20px;
  border-radius: 3px;
  margin-top: 1em;
}

.image-display {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}
