<section class="space-y-3 lg:flex lg:flex-col lg:relative ">
  <img src="assets/book.png" alt="products image" />
  <aside class="bottom-40 left-7 flex flex-col items-center text-center space-y-3 lg:absolute xl:bottom-52">
    <p class="px-9 text-sm font-bold sm:text-xl sm:px-36 lg:px-5 lg:text-white xl:text-2xl">
      CHECK THE NEWEST <br />LAUNCH OF THE WashMachineCO.
    </p>
    <button
      class="bg-black text-white px-4 py-2 text-xs sm:text-xl sm:font-medium"
    >
      BUY NOW
    </button>
  </aside>
</section>
