name: bootcamp2024eshop

services:
  sql.server:
    image: mcr.microsoft.com/mssql/server:2022-latest
    volumes:
      - sql.server.data:/var/opt/mssql

  catalog.api:
    image: bootcamp2024eshop-catalog.api:${TAG:-dev}
    build:
      context: .
      dockerfile: src/Services/Catalog/Catalog.API/Dockerfile
    depends_on:
      sql.server:
        condition: service_healthy

  basket.api:
    image: bootcamp2024eshop-basket.api:${TAG:-dev}
    build:
      context: .
      dockerfile: src/Services/Basket/Basket.API/Dockerfile
    depends_on:
      sql.server:
        condition: service_healthy

  ordering.api:
    image: bootcamp2024eshop-ordering.api:${TAG:-dev}
    build:
      context: .
      dockerfile: src/Services/Ordering/Ordering.API/Dockerfile
    depends_on:
      sql.server:
        condition: service_healthy

  gateway.api:
    image: bootcamp2024eshop-gateway.api:${TAG:-dev}
    build:
      context: .
      dockerfile: src/Gateway/eShop.Gateway/Dockerfile

  keycloak:
    image: quay.io/keycloak/keycloak:25.0.6
    command:
      - "start-dev"
      - "--import-realm"
      - "--http-port=8070"
    environment:
      - KEYCLOAK_IMPORT=/opt/keycloak/data/import/realm-export.json
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    volumes:
      - ./imports/realm-export.json:/opt/keycloak/data/import/realm-export.json
      - keycloak.data:/opt/keycloak/data/
      - ./themes:/opt/keycloak/themes
    ports:
      - 8070:8070

  payment.api:
    image: bootcamp2024eshop-payment.api:${TAG:-dev}
    build:
      context: ./src/Services/Payment/Payment.API
      dockerfile: Dockerfile

  web:
    image: bootcamp2024eshop-web:${TAG:-dev}
    build:
      context: src/Web/eShop.Web
      dockerfile: Dockerfile

volumes:
  sql.server.data:
  keycloak.data:
