body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}


.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(85deg, white 55%, #005B96 40%);
}

.login-section {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    height: 500px;
    margin-left: 55%;

}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.login {
    text-align: justify;
    font-size: 25px;
    color: #333;
}

.input-group {
    margin-top: 55px;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: none ;
    border-radius: 5px;
}

.login-btn {
    margin: 25px;
    width: 70%;
    padding: 10px;
    background-color: #0ABA46;
    color: #fff;
    border: none;
    border-radius: 17px;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.login-btn:hover{
    transform: scale(1.05);
}

.google-login {
    margin: 30px;
    text-align: center;
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
    font-size: 10px;
    transition: transform 0.2s ease-in-out;
}

.google-btn:hover{
    transform: scale(1.05);
}

.google-btn img {
    width: 20px;
    margin-right: 10px;
}

.terms {
    display: block;
    text-align: center;
    margin-top: 40px;
    color: #005a99;
    text-decoration: none;
    font-size: 14px;
}

.terms:hover {
    text-decoration: underline;
}
