<header
  class="flex justify-between bg-darkblue items-center font-bold text-white px-10 drop-shadow-2xl sm:px-10 sm:h-14 sm:text-3xl"
>
  <a class="logo" href="">eShop</a>
  <p class="text-xs text-transparent md:text-white sm:text-xl">
    Quality wherever you go, whenever you go.
  </p>
  <div class="flex">
    <button class="flex items-center">
      <mat-icon fontIcon="search" inline="true"></mat-icon>
    </button>
    <button [routerLink]="['/cart']" class="flex items-center">
      <mat-icon fontIcon="shopping_cart" inline="true"></mat-icon>
    </button>
    <button [routerLink]="['/login']" class="flex items-center">
      <mat-icon fontIcon="account_circle" inline="true"></mat-icon>
    </button>
  </div>
</header>
