<header>
  <a class="logo" href="">eShop</a>
  <p class="slogan">Quality wherever you go, whenever you go.</p>
  <div class="header-buttons">
    <button class="search">
      <mat-icon fontIcon="search" inline="true"></mat-icon>
    </button>
    <a [routerLink]="['/cart']" class="cart-page">
      <mat-icon fontIcon="shopping_cart" inline="true"></mat-icon>
    </a>
    <a [routerLink]="['/login']" class="profile-page">
      <mat-icon fontIcon="account_circle" inline="true"></mat-icon>
    </a>
  </div>
</header>
