header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 5em 0 5em;
  background-color: #005B96;
  color: white;
  height: 4em;
}

.logo {
  width: 90px;
  height: 60px;
  object-fit: contain;
}

.logo-image {
  width: 100%;
  height: 100%;
}

.header-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  gap: 20px;
}

.profile-button {
  color: #000;
}

.mat-icon{
  transform: scale(1.4)
}

button,
a {
  background: none;
  border: none;
  color: white;
  font-size: 2em;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  display: flex;
}

input {
  background-color: #ffffff;
  width: 30em;
  border: none;
  border-radius: .3em;
  height: 2em;
  font-size: 1em;
  padding-left: .5em;
}

.search-input-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  left: 15%;
}

.search-input {
  display: flex;
}

.search-input button{
  color: black;
  position: relative;
  left: -35px;
}

.input-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hide-show {
  display: flex;
  align-items: center;
  width: 100% !important;
  position: relative;
}