header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em 0 5em;
    background-color: #005B96;
    color: white;
    height: 4em;
}

.logo{
    font-size: 3em;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.slogan{
    font-size: 1.2em;
    font-weight: 600;
}

.header-buttons{
    width: 6em;
    display: flex;
    justify-content: space-between;
}

button{
    background: none;
    border: none;
    color: white;
    font-size: 2em;
    font-weight: 700;
    cursor: pointer;
    align-items: center;
    display: flex;
}
