<app-header></app-header>

<div class="container-history">
  <div class="history-wrapper">
    <div class="history-info">
      <h2>Nossa História</h2>
      <br>
      <p>
        A empresa <strong>Programmers</strong>, situada em Matão, São Paulo, é conhecida por oferecer soluções de TI de ponta, 
        indo além das expectativas de seus clientes. Recentemente, participamos do desenvolvimento de um projeto inovador chamado 
        <strong>eShop</strong>. Este projeto nasceu de um bootcamp realizado pela empresa, com o objetivo de criar uma plataforma 
        de e-commerce robusta e moderna.
      </p>

      <h2>O Projeto eShop</h2>
      <br>
      <p>
        O <strong>eShop</strong> está em desenvolvimento desde o início bootcamp, com foco em proporcionar uma experiência de 
        compra fácil, segura e eficiente para os usuários. Utilizando as mais recentes tecnologias como <strong>.NET Core</strong> e 
        <strong>Angular</strong>, o eShop busca unir performance e inovação.
      </p>

      <h2>Nossos Objetivos</h2>
      <br>
      <p>
        O objetivo do projeto é oferecer uma plataforma onde clientes possam adquirir produtos de forma simples e rápida, além de 
        garantir que os lojistas tenham uma ferramenta poderosa para gerenciar seus negócios online. A equipe do <strong>Bootcamp</strong> 
        está comprometida em entregar o melhor resultado possível para o eShop, alinhando tecnologia e facilidade de uso.
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>
