<app-header></app-header>
<app-navbar></app-navbar>

<div class="orderlist-container">
  <h1>{{ prefix }} purchases:</h1>
  <br />

  @for (order of orders; track order.date) {
  <div class="orderlist-item">
    <div class="orderlist-text">
      <img src="{{ order.pictureUrl }}" alt="" />
      <h2>Ordered at: {{ order.date }}</h2>
      <h3>Status: {{ order.status }}</h3>
    </div>

    <div class="orderlist-button_section">
      <button (click)="viewOrder(order.orderId)" class="orderlist-button-style">
        Check Purchase
      </button>
    </div>
  </div>
  }
</div>
<app-footer></app-footer>
