<div class="content">

  <div class="container">
    <div class="conteudo1">
      <p>Manage</p>
      <div class="opcoes">
        <a [routerLink]="['/create-user-management']" routerLinkActive="router-link-active">
          <img src="../../../../assets/user-manager/add.png" alt="" />Create new
          user</a>
        <br />
        <a [routerLink]="['/view-user-management']" routerLinkActive="router-link-active">
          <img src="../../../../assets/user-manager/file.png" alt="" />View
          existents users</a>
        <br />
        <a [routerLink]="['/edit-user-management']" routerLinkActive="router-link-active">
          <img src="../../../../assets/user-manager/edit.png" alt="" />Edit a user</a>
        <br />
      </div>
    </div>

    <div class="quadro">
      <div class="conteudo2">
        <h2>EDIT USER</h2>
        <div class="create">
          <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <input class="input" type="text" formControlName="username" placeholder="Nome" />
            <input class="input" type="email" formControlName="email" placeholder="E-mail" />
            <input class="input" type="text" formControlName="cpf" placeholder="CPF" />
            <input class="input" type="text" formControlName="cep" placeholder="CEP" />
            <input class="input" type="text" formControlName="address" placeholder="Endereço" />

            <div class="btn">
              <input style="background-color: #FF3033;" type="button" value="Cancel"
                onclick="window.location.href='#'" />
              <input style="background-color: #4B9FFF;" type="submit" value="Confirm" />
            </div>
          </form>

        </div>
      </div>

    </div>