<app-header></app-header>
<app-navbar></app-navbar>
<main>
  <div class="product-container">
    <div class="product-container__image">
      <img class="image" src="{{ product.imageURL }}" alt="">
    </div>
    <div class="product-container__info">
      <div class="product-container__info__name">
        <h2>{{ product.name }}</h2>
        <p class="product-container__info__category-name">{{ product.category }}</p>
        <p class="product-container__info__brand-name">{{ product.brand }}</p>
      </div>

    </div>
    <div class="product-container__buttons">
      <button class="product-container__info__buy-button" (click)="goToPayment()">
        Buy Product
      </button>
      <button
        class="product-container__info__add-cart-button"
        (click)="addToCart()"
      >
        Add to Cart
      </button>
    </div>
    
  </div>
  <div class="similar-products">
    <app-display-products [showOnlyHighlighted]="false" [productQuantity]="10"
      [categoryId]="category!.id"></app-display-products>
  </div>
</main>
<app-footer></app-footer>
