<app-header></app-header>
<div class="container-terms">
  <header class="header-terms">
    <h1>Terms of Service</h1>
  </header>
  <section class="content-terms">
    <h2>Introdução</h2>
    <p>
      Estes Termos de Serviço regem o uso de nosso site e dos serviços
      oferecidos. Ao acessar nosso site, você concorda em cumprir estes termos e
      condições. Se você não concorda com qualquer parte dos termos, pedimos que
      não utilize nossos serviços.
    </p>

    <h2>Uso do Serviço</h2>
    <p>
      Ao utilizar nossos serviços, você concorda em não violar nenhuma lei ou
      regulamento local, nacional ou internacional. Você se compromete a
      utilizar nosso site de maneira responsável e respeitosa, sem interferir
      nos direitos de outros usuários.
    </p>

    <h2>Conta de Usuário</h2>
    <p>
      Para utilizar alguns recursos, você pode precisar criar uma conta. Você é
      responsável por manter a confidencialidade de suas informações de login e
      por todas as atividades que ocorram sob sua conta.
    </p>

    <h2>Limitação de Responsabilidade</h2>
    <p>
      Nossos serviços são fornecidos "como estão", e não oferecemos garantias de
      que estarão livres de erros ou interrupções. Em nenhum caso seremos
      responsáveis por quaisquer danos indiretos, incidentais, ou
      consequenciais.
    </p>

    <h2>Modificações dos Termos</h2>
    <p>
      Reservamo-nos o direito de modificar estes Termos de Serviço a qualquer
      momento. As alterações entrarão em vigor imediatamente após serem
      publicadas em nosso site. Recomendamos que você revise os termos
      periodicamente para estar ciente de quaisquer mudanças.
    </p>
  </section>
</div>

<app-footer></app-footer>
