<app-header></app-header>
<div class="container-terms">
  <header class="header-terms">
    <h1>Acessibility</h1>
  </header>
  <section class="content-terms">
    <h2>Compromisso com Acessibilidade</h2>
    <p>
      Trabalhamos continuamente para garantir que o site eShop seja acessível
      a todos os usuários, independentemente de suas capacidades físicas ou cognitivas.
      Implementamos práticas inclusivas para proporcionar uma experiência
      confortável e funcional para todos que visitem nosso site.
    </p>

    <h2>Recursos e Melhorias em Acessibilidade</h2>
    <p>
      Criamos páginas com alto contraste e fontes ajustáveis para facilitar
      a leitura para pessoas com baixa visão.

    </p>

    <h2>Navegação com Teclado</h2>
    <p>
      Nosso site pode ser totalmente navegado utilizando apenas o teclado,
      garantindo acessibilidade para quem não utiliza mouse.

    </p>

    <h2>Compatibilidade com Leitores de Tela</h2>
    <p>
      Todas as áreas do site foram otimizadas para funcionar com tecnologias como JAWS e NVDA.
      Provendo assim as necessidades que cada tecnologia necessita.
    </p>

    <h2>Como Garantimos a Acessibilidade</h2>
    <p>
      Treinamento contínuo para a equipe de design e desenvolvimento sobre práticas de
      acessibilidade. Testes periódicos para garantir acessibilidade necessaria.
      Coleta de feedback de terceiros para identificar e implementar melhorias contínuas.
    </p>
  </section>
</div>

<app-footer></app-footer>