.subnav {
  overflow: hidden;
  background-color: cornflowerblue;
}

.subnav .subnavbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  padding: 10px 16px;
  margin: 0;
}

.subnav:hover .subnavbtn {
  background-color: dimgray;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: dimgray;
  width: 100%;
  z-index: 1;
  padding: 0px 10px;
}

.subnav-content a{
  margin-left: 15px;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}
