<div class="subnav">
  <button
    class="subnavbtn"
    (mouseenter)="showCategories()"
    (mouseleave)="hideCategories()"
  >
    Categories <i class="fa fa-caret-down"></i>
  </button>
  <div
    class="subnav-content"
    (mouseenter)="showCategories()"
    (mouseleave)="hideCategories()"
    [ngClass]="{ show: categoriesVisible }"
  >
    <ng-container *ngFor="let category of categories">
      <a (click)="goToCategoryPage(category.id)">{{ category.name }}</a>
    </ng-container>
  </div>
</div>
