.subnav {
  overflow: hidden;
  background-color: cornflowerblue;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;

  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.subnav:hover .subnavbtn {
  background-color: dimgray;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: dimgray;
  width: 100%;
  z-index: 1;
  padding-left: 15px;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}
