footer {
  width: 100%;
  height: 12.5em;
  background-color: #005B96;
  padding: 2em 0 0 2em;
  color: white;
}

p {
  font-weight: 600;
}

.footer {
  display: grid;
  justify-content: center;
  gap: 1em;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(4, 10rem);
  gap: 17.5em;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-bottom {
  display: grid;
  grid-template-columns: repeat(2, 20rem);
  justify-content: space-between;
  align-items: flex-start;
}

.info-1 {
  display: flex;
  gap: 1em;
}

.info-2 p {
  display: flex;
  justify-content: flex-end;
}

.navigate,
.help,
.about-us {
  display: grid;
}

.navigate a,
.help a,
.about-us a {
  color: white;
  text-decoration: none;
}

.social-media {
  display: grid;
  grid-template-columns: repeat(4, 2rem);
}

.social-media fa-icon {
  color: white;
  font-size: 1.5rem;
  place-content: center;
}

.payment-methods-card {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(224, 224, 224) 100%);
  place-content: center;
}

.payment-methods-icons {
  display: grid;
  grid-template-columns: repeat(4, 2rem);
}
