<footer>
  <div class="footer">
      <div class="footer-top">
          <div class="section">
              <p>Navigate</p>
              <div class="navigate">
                  <a href="">Cart</a>
                  <a href="">Search</a>
                  <a href="">Products</a>
              </div>
          </div>
          <div class="section">
              <p>Help</p>
              <div class="help">
                  <a href="">Privacy Policy</a>
                  <a href="">Terms of Service</a>
                  <a href="/contact">Contact</a>
              </div>
          </div>
          <div class="section">
              <p>About Us</p>
              <div class="about-us">
                  <a href="">Acessibility</a>
                  <a href="/history">Our History</a>
              </div>
          </div>
          <div class="section" id="social-payment">
              <p>Social Media</p>
              <div class="social-media">
                  <a href="">
                      <fa-icon [icon]="faFacebookSquare"></fa-icon>
                  </a>
                  <a href="">
                      <fa-icon [icon]="faTwitterSquare"></fa-icon>
                  </a>
                  <a href="">
                      <fa-icon [icon]="faYoutubeSquare"></fa-icon>
                  </a>
                  <a href="">
                      <fa-icon [icon]="faInstagramSquare"></fa-icon>
                  </a>
              </div>
              <div class="payment-methods">
                  <p>Payment Methods</p>
                  <div class="payment-methods-icons">
                      <img class="payment-methods-card" src="assets/payment-methods/mastercard.svg" alt="Mastercard">
                      <img class="payment-methods-card" src="assets/payment-methods/visa.svg" alt="Visa">
                      <img class="payment-methods-card" src="assets/payment-methods/elo.svg" alt="Elo">
                      <img class="payment-methods-card" src="assets/payment-methods/pix.svg" alt="Pix">
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-bottom">
          <div class="info-1">
              <p>Brazil</p>
          </div>
          <div class="info-2">
              <p>© 2024 eShop. All Rights Reserved</p>
          </div>
      </div>
  </div>
</footer>
