<section>
  <div class="footer">
    <div class="footer-top">
        <div class="section-1">
            <p>section1</p>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </div>
        <div class="section-2">
            <p>Help</p>
            <div class="Help">
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>
        <div class="section-3">
            <p>About us</p>
            <div class="about-us">
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>
        <div class="section-4">
            <div class="social-media">
                <p>Social Media</p>
                <a href="">
                    <fa-icon [icon]="faSquareFacebook"></fa-icon>
                </a>
                <a href="">
                    <fa-icon [icon]="faTwitterSquare"></fa-icon>
                </a>
                <a href="">
                    <fa-icon [icon]="faYoutubeSquare"></fa-icon>
                </a>
            </div>
            <div class="payment-methods">
                <p>Payment Methods</p>
                <div class="payment-methods-icons">
                    <div class="payment-methods-card">
                        <img src="assets/mastercard.svg" alt="Mastercard">
                    </div>
                    <div class="payment-methods-card">
                        <img src="assets/visa.svg" alt="Visa">
                    </div>
                    <div class="payment-methods-card">
                        <img src="assets/elo.svg" alt="Elo">
                    </div>
                    <div class="payment-methods-card">
                        <img src="assets/pix.svg" alt="Pix">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="footer-bottom">
        <div class="info-1">
            <p>Brasil</p>
            <a>Privacy Policy</a>
            <a>Terms of use</a>
        </div>
        <div class="info-2">
            <p>© 2024 eShop. All Rights Reserved</p>
        </div>
    </div>
  </div>
</section>
