footer {
  position: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #005B96;
  padding: 2em;
  color: white;
}

p {
  font-weight: 600;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-width: 1200px;
  gap: 2em;
  padding-bottom: 1em;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#social-payment {
  align-items: end;
}

.navigate,
.help,
.about-us {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.navigate a,
.help a,
.about-us a {
  color: white;
  text-decoration: none;
}

.social-media {
  display: flex;
  gap: 1em;
}

.social-media fa-icon {
  color: white;
  font-size: 1.5rem;
}

.payment-methods {
  margin-top: 1em;
}

.payment-methods-icons {
  display: flex;
  gap: 1em;
}

.payment-methods-card {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  background: linear-gradient(rgb(255, 255, 255) 0%, rgb(224, 224, 224) 100%);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding-top: 1em;
  border-top: 1px solid white;
}

.info-1,
.info-2 {
  display: flex;
}
