<footer>
    <div class="footer">
        <div class="footer-top">
            <div class="section-1">
                <p>Navigate</p>
                <div class="navigate">
                    <a href="">Cart</a>
                    <a href="">Search</a>
                    <a href="">Products</a>
                </div>
            </div>
            <div class="section-2">
                <p>Help</p>
                <div class="help">
                    <a href="">Privacy Policy</a>
                    <a href="">Terms of Service</a>
                    <a href="">Contact</a>
                </div>
            </div>
            <div class="section-3">
                <p>About Us</p>
                <div class="about-us">
                    <a href="">Acessibility</a>
                    <a href="">Our History</a>
                </div>
            </div>
            <div class="section-4">
                <p>Social Media</p>
                <div class="social-media">
                    <a href="">
                        <fa-icon [icon]="faSquareFacebook"></fa-icon>
                    </a>
                    <a href="">
                        <fa-icon [icon]="faTwitterSquare"></fa-icon>
                    </a>
                    <a href="">
                        <fa-icon [icon]="faYoutubeSquare"></fa-icon>
                    </a>
                </div>

                <div class="payment-methods">
                    <p>Payment Methods</p>
                    <div class="payment-methods-icons">
                        <img class="payment-methods-card" src="assets/payment-methods/mastercard.svg" alt="Mastercard">
                        <img class="payment-methods-card" src="assets/payment-methods/visa.svg" alt="Visa">
                        <img class="payment-methods-card" src="assets/payment-methods/elo.svg" alt="Elo">
                        <img class="payment-methods-card" src="assets/payment-methods/pix.svg" alt="Pix">
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <div class="info-1">
                <a>Brasil</a>
            </div>
            <div class="info-2">
                <p>© 2024 eShop. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>