<p class="category-name">Highlights</p>
<section class="product-container" >
  @for (product of products; track product.id) {
  <div class="product-card">
    <div class="image-placeholder">
      <a><img src="assets/products/xbox-series-controller.jpg" alt="" (click)="viewProduct(product)" class="product-image" /></a>
    </div>
    <div class="product-info">
      <div class="product-about">
        <a (click)="viewProduct(product)" class="product-name">{{ product.name }}</a>
        <p class="product-category">{{ product.category }}</p>
        <p class="product-brand">{{ product.brand }}</p>
      </div>
      <p class="product-price">R${{ product.price }}</p>
    </div>
  </div>
  }
</section>
