.main-container {
    display: flex;
    padding: 2em 5em 0 4em;
    min-height: 75%;
}

.product-list {
    flex: 3;
    margin-right: 20px;
}

.product-item {
    width: 75em;
    height: 5em;
    display: flex;
    align-items: center;
    background-color: #eee;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.product-image {
    mix-blend-mode: multiply;
    width: 64px;
    height: 64px;
    object-fit: contain;
    margin-right: 0.75em;
}

.product-details {
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-details p {
    margin: 0;
}

.product-quantity {
    display: flex;
    position: absolute;
    left: 65em;
    align-items: center;
}

.product-quantity button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.product-quantity span {
    margin: 0 10px;
}

.product-price {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.product-price p {
    margin: 0 10px 0 0;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
}

.order-summary {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-height: 20em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.coupon,
.cep,
.summary {
    margin-bottom: 20px;
}

.coupon p,
.cep p,
.summary p {
    margin: 0 0 10px 0;
}

.coupon input,
.cep input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.summary-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.buy-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*responsividade*/