<app-header></app-header>

<div class="main-container">
  <div class="product-list">
    @for (product of products; track product.name){
    <div class="product-item">
      <img src="{{ product.image }}" alt="Product Image" class="product-image" />
      <div class="product-details">
        <p>{{ product.name }}</p>
        <div class="product-quantity">
          <button>-</button>
          <span>0</span>
          <button>+</button>
        </div>
      </div>
      <div class="product-price">
        <p>R$ {{ product.price }}</p>
        <button class="delete-button">🗑️</button>
      </div>
    </div>
    }
  </div>
  <div class="order-summary">
    <div class="coupon">
      <p>Coupon</p>
      <input type="text" />
    </div>
    <div class="cep">
        <p>Postal Code</p>
        <input type="text" />
      </div>
    <div class="summary">
      <p><strong>Order Summary</strong></p>
      <div class="summary-details">
        <p>Subtotal:</p>
        <p>Total: R$ {{ orderTotal }}</p>
      </div>
      <button class="buy-button">Checkout</button>
    </div>
  </div>
</div>

<app-footer></app-footer>