<app-header></app-header>

<div class="main-container">
  <div class="product-list">
    <div *ngFor="let product of products; trackBy: trackByProductId" class="product-item">
      <img [src]="product.image" alt="Product Image" class="product-image" />
      <div class="product-details">
        <p class="product-name">{{ product.name }}</p>
        <p class="product-description">{{ product.description }}</p>
        <div class="quantity-controls">
          <button class="quantity-button"
                  (click)="changeProductQuantity(product, -1)"
                  [disabled]="product.quantity <= 1">
            -
          </button>
          <span class="quantity-display">{{ product.quantity }}</span>
          <button class="quantity-button"
                  (click)="changeProductQuantity(product, 1)"
                  [disabled]="product.quantity >= product.availableQuantity">
            +
          </button>
        </div>
      </div>
      <div class="product-price">
        <p>R$ {{ (product.price * product.quantity).toFixed(2) }}</p>
        <button class="delete-button" (click)="removeFromCart(product)">🗑️</button>
      </div>
    </div>
  </div>
  <div class="order-summary">
    <div class="coupon">
      <p>Coupon</p>
      <input type="text" />
    </div>
    <div class="cep">
      <p>Postal Code</p>
      <input type="text" />
    </div>
    <div class="summary">
      <p><strong>Order Summary</strong></p>
      <div class="summary-details">
        <p>Subtotal:</p>
        <p>Total: R$ {{ orderTotal.toFixed(2) }}</p>
      </div>
      <button class="buy-button" (click)="goToPaymentPage()">Checkout</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
