@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: Montserrat, arial, sans-serif;
}

.content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  border: none;
  width: 80%;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  gap: 2em;
  font-size: 16px;
  box-shadow: 0px 4px 4px 0px #00000040;
  text-decoration: none;
}

a:hover {
  background-color: #4b9fff;
  color: #ffffff;
  font-weight: bold;
}

.container {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 5em;
  height: 80%;
  width: 80%;
}

.conteudo1 {
  height: 100%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 2%;
  box-shadow: 0px 4px 4px 0px #00000040;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  p {
    font-size: 22px;
    color: black;
  }
}

.opcoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20em;
}

.create {
  display: flex;
  border-radius: 5%;
  margin-left: 5%;
  width: 90%;
  height: 80%;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.btn {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 20px;

  input {
    color: white;
    font-weight: 600;
    border: none;
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    background-color: red;
  }
}

.input {
  display: flex;
  padding: 10px;
  border: none;
  width: 80%;
  height: 10px;
  font-size: 15px;
  border-radius: 5px;
}

.quadro {
  border-radius: 2%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 20px;
  width: 100%;
  height: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.conteudo2 {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.tabela {
  max-width: 100%;
  overflow: hidden;
}

.tabela tbody {
  display: block;
  max-height: 420px;
  overflow-y: auto;
}

table.lista {
  width: 100%;
  height: 40em;
  margin: 20px 0;
  font-size: 15px;
  color: #000000;
  font-weight: 400;
  border-collapse: separate;
  border-spacing: 0;
}

table.lista thead,
table.lista tbody tr {
  display: table;
  width: 100%;
}

table.lista th,
table.lista td {
  padding: 10px;
  min-height: 40px;
  min-width: 100px;
  box-sizing: border-box;
}

thead th {
  padding: 12px 15px;
  background-color: #ffffff;
  font-size: 18px;
  text-align: left;
  border-radius: 15px;
}

thead th:nth-child(n + 2) {
  text-align: center;
}

table.lista tr {
  border-bottom: 10px solid #ffffff;
  background-color: #d9d9d9;
}

table.lista tr:nth-child(even) {
  background-color: #ededed;
}

table.lista td img {
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: block;
  margin: 0 auto;
}

th:nth-child(1),
td:nth-child(1) {
  width: 40%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 20%;
}

th:nth-child(3),
td:nth-child(3),
th:nth-child(4),
td:nth-child(4) {
  width: 15%;
}
