
.container {
    width: 85%;
    margin: 5% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position:relative;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  a{
    font-size: large;
    color: #fff;
    border: none;
    display: inline-block; 
    width: auto; 
    padding: 10px 15px;
    margin-left: 5%;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
  }

  
  table {
    width: 100%;
    margin-top: 20px;
  }
  
  td, th {
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    font-weight: lighter;
    display: inline-block;
    width: 14.2%;
  }
  
  th {
    background-color: #c0c0c0;
    font-weight: normal;
  }
  
  .btn-prim{
    background-color: #005a99;
  }

  .btn-prim:hover{
    background-color: #0080ff;
  }

  .btn-sec {
    background-color: #005a99;
  }
  
  .btn-sec:hover{
    background-color: #0080ff;
  }
  
  .btn-trh {
    background-color: #ff0000;
  }
  
  .btn-trh:hover{
    background-color: #851010;
  }
  