<app-header></app-header>
<div class="container-policy">
  <header class="header-policy">
    <h1>Privacy Policy</h1>
  </header>
  <section class="content-policy">
    <h2>Coleta de Informações</h2>
    <p>
      Coletamos informações pessoais para fornecer serviços aprimorados e
      personalizados aos nossos usuários. Essas informações incluem dados
      fornecidos por você ao se cadastrar em nossa plataforma, como nome,
      e-mail, endereço, e preferências de uso. Além disso, coletamos
      automaticamente informações sobre a sua navegação, incluindo dados de
      acesso, localização, e interações com nosso site, com o objetivo de
      entender e melhorar sua experiência.
    </p>

    <h2>Uso de Informações</h2>
    <p>
      As informações coletadas são usadas para otimizar e personalizar os
      serviços oferecidos. Utilizamos esses dados para oferecer suporte,
      personalizar conteúdos, e comunicar atualizações. Também utilizamos
      informações de navegação para analisar tendências, administrar a
      plataforma e oferecer recomendações relevantes.
    </p>

    <h2>Proteção dos Dados</h2>
    <p>
      A segurança de seus dados é nossa prioridade. Implementamos uma série de
      medidas de segurança técnicas e organizacionais para proteger suas
      informações pessoais contra acesso não autorizado, perda ou destruição.
      Trabalhamos constantemente para aprimorar nossas práticas de segurança
      para assegurar que suas informações estejam seguras.
    </p>

    <h2>Compartilhamento de Informações</h2>
    <p>
      Compartilhamos informações com terceiros apenas quando necessário para
      fornecer nossos serviços ou quando exigido por lei. Nossos parceiros, como
      prestadores de serviços, seguem normas rigorosas de proteção de dados, e
      garantimos que suas informações sejam usadas somente para os fins
      estabelecidos por nossa política.
    </p>

    <h2>Alterações na Política</h2>
    <p>
      Reservamo-nos o direito de atualizar esta Política de Privacidade
      periodicamente. As alterações serão comunicadas em nossa página de
      Política de Privacidade e, quando aplicável, por e-mail. Recomendamos que
      você revise esta política regularmente para estar ciente de qualquer
      atualização sobre como protegemos suas informações.
    </p>
  </section>
</div>

<app-footer></app-footer>
