<app-header></app-header>
<app-navbar></app-navbar>
<div class="all-products-page">
  <div class="all-products-page__product-container">
    <div class="all-products-page__filter_by">
      <p>Brands</p>
      <div class="all-products-page__brands-filter">
        @for (brand of brands; track brand.id) {
        <div class="all-products-page__brand">
          <input type="checkbox" name="brand" />
          <label for="brand">{{ brand.name }}</label>
        </div>
        }
      </div>
    </div>
    <div class="all-products-page__product-container2">
      <div class="all-products-page__control-buttons">
        <div class="all-products-page__control-button">
          <p>Sort By:</p>
          <select (change)="onSortByChange($event)">
            @for (sortType of sortByTypes; track $index) {
            <option [value]="sortType">{{ sortType }}</option>
            }
          </select>
        </div>
        <div class="all-products-page__control-button">
          <p>Show:</p>
          <select (change)="onPageSizeChange($event)">
            @for (size of pageSizes; track $index) {
            <option [value]="size">{{ size }} products per page</option>
            }
          </select>
        </div>
      </div>
      <section class="all_procucts-page__product-container">
        @for (product of products; track product.id) {
        <div class="all_procucts-page__product-card">
          <div class="all_procucts-page__image-placeholder">
            <a
              ><img
                src="{{ product.imageURL }}"
                alt=""
                (click)="viewProduct(product)"
                class="all_procucts-page__product-image"
            /></a>
          </div>
          <div class="all_procucts-page__product-info">
            <div class="all_procucts-page__product-about">
              <a (click)="viewProduct(product)" class="all_procucts-page__product-name">{{
                product.name
              }}</a>
              <p class="all_procucts-page__product-category">{{ product.category.name }}</p>
              <p class="all_procucts-page__product-brand">{{ product.brand.name }}</p>
            </div>
            <p class="all_procucts-page__product-price">R${{ product.price }}</p>
          </div>
        </div>
        }
      </section>
      <!-- <app-display-products class="all-products-page__display_product"
        [displayName]="categoryName"
        [products]="products"
      ></app-display-products> -->
      <div class="all-products-page__change-page-buttons">
        <button
          class="all-products-page__change-page-button"
          (click)="goToPreviousPage()"
        >
          Go to previous page
        </button>
        <button
          class="all-products-page__change-page-button"
          (click)="goToNextPage()"
        >
          Go to next page
        </button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>