<form class="bg-red-600 rounded-2xl flex flex-col items-center">
  <span class="items-start">My Account</span>
  <input type="email" id="email" name="email" placeholder="Email address" required />
  <input type="password" id="password" name="password" placeholder="Password" required />
  <button (click)="goToLandingPage()" type="submit" class="">Log in</button>
  <button type="button" class="">
    <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo" />
    Continue with Google
  </button>
  <a href="signin" class="">Don't have an account? Sign Up.</a>
</form>