<div class="login-page">
  <div class="login-page__logo"></div>
  <div class="login-page__section">
    <div class="login-page__box">
      <div class="login-page__header">Log In</div>
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="signin-page__form">
        <mat-form-field class="login-page__form-group">
          <mat-label>Username or Email</mat-label>
          <input matInput formControlName="username" required>
        </mat-form-field>

        <mat-form-field class="login-page__form-group">
          <mat-label>Password</mat-label>
          <input type=password matInput formControlName="password" required>
        </mat-form-field>
        
        <div (click)="openResetPasswordDialog()" class="login-page__reset-password">
          Forgot Your Password?
        </div>
        <button type="submit" class="login-page__btn login-page__btn--submit">
          Log in
        </button>
        <a href="signin" class="login-page__terms"
          >Don't have an account? Sign Up.</a
        >
      </form>
    </div>
  </div>
</div>
