<div class="category-card">
    <button class="display-card-left">
        <div class="category-title">
            Summer
        </div>
        <div class="category-description">
            Come and see the new launch that we prepared for the hot summer!
        </div>
    </button>
    <button class="display-card-right">
        <div class="category-title">
            Barbecue
        </div>
        <div class="category-description">
            Nothing better than a barbecue in the summer!
        </div>
    </button>
</div>
