<div class="category-card">
    <button class="display-card-left">
        <div class="category-title">
            Category 1
        </div>
        <div class="category-description">
            Type a category description here that describes the category
        </div>
    </button>
    <button class="display-card-right">
        <div class="category-title">
            Category 2
        </div>
        <div class="category-description">
            Type a category description here that describes the category
        </div>
    </button>
</div>