<div class="product-container">
  @for (product of products; track product.id) {
  <div class="product-container__card">
    <div class="product-container__image-placeholder">
      <a>
        <img
          src="assets/products/xbox-series-controller.jpg"
          alt=""
          (click)="viewProduct(product)"
          class="product-container__image"
        />
      </a>
    </div>
    <div class="product-container__info">
      <div class="product-container__about">
        <a (click)="viewProduct(product)" class="product-container__name">{{
          product.name
        }}</a>
        <p class="product-container__category">{{ product.category }}</p>
        <p class="product-container__brand">{{ product.brand }}</p>
      </div>
      <p class="product-container__price">R${{ product.price }}</p>
    </div>
  </div>
  }
</div>
