<app-header></app-header>
<app-navbar></app-navbar>

<div class="order-page">
  <div class="order-page_summary">
    <div class="order-page_summary-text">
      <h1>{{ prefix }} order</h1>
    </div>

    <div class="order-page-showproduct">
      @for (item of order.items; track item.productId) {
      <div class="orderlist-item">
        <img src="{{ item.pictureUrl }}" alt="" />

        <div class="orderlist-text">
          <h2>Name: {{ item.productName }}</h2>
          <h6>Quantity: {{ item.units }}</h6>
          <h6>Price: R$ {{ item.unitPrice }}</h6>
          <br />
          <h6>Total: R$ {{ (item.unitPrice * item.units).toFixed(2) }}</h6>
        </div>

        <div class="orderlist-button_section">
          <button (click)="viewProduct(item)" class="orderlist-button-style">
            View Product
          </button>
        </div>
      </div>
      }
    </div>
  </div>

  <div class="order-page-sidewindow">
    <h2>Details:</h2>
    <hr />
    Products: {{ order.items.length }} <br />
    Status: {{ order.status }}<br />
    <br />
    <hr />
    Total: R$ {{ order.total.toFixed(2) }}
  </div>
</div>

<app-footer></app-footer>
