<p class="category-name">{{ displayName }}</p>
<p-carousel
  [value]="products"
  [numVisible]="4"
  [numScroll]="1"
  [circular]="true"
  [showIndicators]="false"
>
  <ng-template let-product pTemplate="item">
    <div class="product-display">
      <div class="product-card">
        <div class="image-placeholder">
          <img
            src="{{ product.imageURL }}"
            [alt]="product.name"
            class="product-image"
          />
        </div>
        <div class="product-info">
          <a (click)="viewProduct(product)" class="product-name">{{ product.name }}</a>
          <p class="product-price">R${{ product.price }}</p>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
