.product-display{
  padding: 0 1em;
}

.product-card {
  height: 30em;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: white;
}

.category-name {
  display: flex;
  font-weight: 600;
  font-size: 1.7em;
  margin-bottom: .5em;
}

.image-placeholder {
  width: 100%;
  height: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

/* .image-placeholder:hover {
  transition: 0.5s;
  filter: blur(2px);
} */

.product-image {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.product-info {
  box-sizing: border-box;
  height: 6em;
  width: 98%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.5em 0 0.5em;
  border-radius: 0 0 6px 6px;
}

.product-about {
  height: 4em;
}

.product-name {
  cursor: pointer;
  font-size: 1.3em;
  font-weight: 500;
}

.product-brand,
.product-category {
  font-size: 0.9em;
  font-weight: 400;
}

.product-price {
  font-size: 1.1em;
  font-weight: 500;
  display: flex;
  align-items: center;
}
