<p class="category-name">Highlights</p>
<section id="product-container">
  @for (product of products; track product.id) {
  <div class="product-card">
    <div class="image-placeholder">
      <a href="/product"><img src="#" alt="" class="product-image" /></a>
    </div>
    <div class="product-info">
      <div class="product-about">
        <p class="product-name">{{ product.name }}</p>
        <p class="product-description">{{ product.description }}</p>
      </div>
      <p class="product-price">R${{ product.price }}</p>
    </div>
  </div>
  }
</section>
