<section class="product-categories">
  <h2 class="product-categories__title">Explore Nossas Categorias</h2>
  <div class="product-categories__grid">
    @for (category of categories; track $index) {
    <a
      class="product-categories__card"
      [style.backgroundImage]="'url(' + category.image + ')'"
    >
      <div class="product-categories__details">
        <span class="product-categories__name">{{ category.name }}</span>
        <p class="product-categories__description">{{ category.description }}</p>
      </div>
    </a>
    }
  </div>
</section>
