<div class="flex px-7 gap-2">
    <button class="bg-red-600 rounded-lg text-left">
        <div class="">
            Summer
        </div>
        <div class="">
            Come and see the new launch that we prepared for the hot summer!
        </div>
    </button>
    <button class="bg-blue-600 rounded-lg text-right">
        <div class="">
            Barbecue
        </div>
        <div class="">
            Nothing better than a barbecue in the summer!
        </div>
    </button>
</div>
