/* General styling */
.product-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.product-categories__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #333;
}

/* Grid layout */
.product-categories__grid {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 640px) {
  .product-categories__grid {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .product-categories__grid {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
  }
}



/* Category card styling */
.product-categories__card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-size: cover;
  background-position: center;
  height: 200px; /* Ajustar altura conforme necessário */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.product-categories__card:hover {
  transform: scale(1.05);
}

/* Text overlay */
.product-categories__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Overlay escuro para melhor leitura */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-categories__card:hover .product-categories__overlay {
  opacity: 1;
}

/* Text styling */
.product-categories__name {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.product-categories__description {
  font-size: 1rem;
  margin-top: 0.25rem;
}
