@media only screen and (min-width: 1920px) {
  .sign-in-form {
    max-width: 3000px;
    margin-left: 100px;
  }
}

@media only screen and (max-width: 1200px) {
  .user-registration-page {
    background: linear-gradient(265deg, white 50%, #005b96 0%);
  }
}

@media only screen and (max-width: 900px) {
  .user-registration-page {
    background: linear-gradient(265deg, white 35%, #005b96 0%);
  }
}

@media only screen and (max-width: 740px) {
  .user-registration-page {
    background: linear-gradient(265deg, white 25%, #005b96 0%);
  }
}

@media only screen and (max-width: 630px) {
  .user-registration-page {
    background: linear-gradient(265deg, white 18%, #005b96 0%);
  }
}

@media only screen and (max-width: 590px) {
  .user-registration-page {
    background: none;
  }
  .sign-in-form{
    margin: auto;
  }
}

@media only screen and (max-width: 450px) {
  .sign-in-form {
    max-width: 350px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 350px) {
  .sign-in-form {
    max-width: 320px;
  }
}
