<app-header></app-header>
<br>

<div class="container">
    <h1>Cards Information</h1>
    <h3>All your saved debit/credit cards</h3>
    <br>
    <div class="cards-container">
      @for (card of cards; track card){  
      <div class="credit-card">
        <div class="card-header">
          <div class="bank-info">
            <span class="bank-name">{{card.type}} Card</span>
          </div>

          <div class="card-type">
            @if (card.flag != 'unknown') {
              <img src={{card.flag}} class="logo">
            }
          </div>
        </div>

        <div class="chip"></div>
        <div class="card-info">    
          <p class="card-number">{{ formatNumber(card.number)}}</p>
          <p class="cardholder-name">{{card.name}}</p>
        </div>
      </div>
      }
    </div>  
</div>
<app-footer></app-footer>
