* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #e9e9e9;
}

.product-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 4em;
  margin-bottom: 1em;
}

.product-container__card {
  width: 20em;
  height: 30em;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: white;
  padding-bottom: 0.5em;
}

.product-container__image-placeholder {
  width: 100%;
  height: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

.product-container__image-placeholder:hover {
  transition: 0.5s;
  filter: blur(2px);
}

.product-container__about {
  height: 4em;
}

.product-container__image {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.product-container__info {
  box-sizing: border-box;
  height: 6em;
  width: 98%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.5em 0 0.5em;
  border-radius: 0 0 6px 6px;
}

.product-container__name {
  cursor: pointer;
  font-size: 1.3em;
  font-weight: 500;
}

.product-container__brand {
  font-size: 0.9em;
  font-weight: 400;
}

.product-container__price {
  font-size: 1.1em;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.login-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(85deg, white 55%, #005b96 40%);
}

.login-page__section {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  height: 500px;
  margin-left: 55%;
}

.login-page__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.login-page__header {
  text-align: justify;
  font-size: 25px;
  color: #333;
}

.login-page__form-group {
  margin-top: 55px;
  margin-bottom: 20px;
}

.login-page__form-group input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}

.login-page__btn {
  margin: 25px;
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 17px;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.login-page__btn--submit {
  background-color: #0aba46;
  color: #fff;
}

.login-page__btn--google {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 25px;
  cursor: pointer;
  font-size: 10px;
  transition: transform 0.2s ease-in-out;
}

.login-page__btn--google:hover,
.login-page__btn--submit:hover {
  transform: scale(1.05);
}

.login-page__btn--google img {
  width: 20px;
  margin-right: 10px;
}

.login-page__terms {
  display: block;
  text-align: center;
  margin-top: 40px;
  color: #005a99;
  text-decoration: none;
  font-size: 14px;
}

.login-page__terms:hover {
  text-decoration: underline;
}

.user-registration-page {
  background: linear-gradient(265deg, white 55%, #005b96 40%);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
}

.sign-in-form__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
}

.sign-in-form__title {
  width: 90%;
  font-size: 23px;
  margin-left: 20px;
  margin-bottom: 8px;
}

.sign-in-form {
  max-width: 400px;
  height: auto;
  margin-left: 50px;
  background-color: #ffffff;
  color: black;
  padding: 20px;
  border-radius: 20px;
}

.sign-in-form__field {
  width: 90%;
}

.sign-in-form__submit-btn {
  width: 40%;
  padding: 10px;
  background-color: #0aba46;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  display: block;
  align-items: center;
  justify-content: center;
}

.sign-in-form__submit-btn:hover {
  transform: scale(1.05);
}

.sign-in-form__password-warning {
  color: red;
  font-size: 14px;
  margin-top: -7px;
}

.sign-in-form__container {
  width: 90%;
  display: flex;
  gap: 20px;
}

.sign-in-form__field--grow {
  flex: 1;
}

.sign-in-form__field--shrink {
  flex: 0.5;
}

.table-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container__title {
  text-align: center;
  margin-bottom: 20px;
}

.table-container__tool-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-container__search-bar {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.table-container__search-bar__icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

.table-container__search-bar input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.table-container__search-bar input::placeholder{
  color: #9e9ea7;
}

.table-container__search-bar:focus,
.table-container__search-bar input:hover
{
  outline: none;
  border-color: #007bff;
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(0 48 73 / 10%);
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
}

.table-container th{
  background-color: #007bff;
  color: white;
  padding: 10px;
}

.table-container td{
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.table-container td:last-child button{
  padding: 2px 5px;
  margin: 0 3px;
  width: 40%;
}

.table-container td:last-child, th:last-child{
  max-width: 25%;
  width: 25%;
  padding: 5px;
}

.table-container__table__image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.table-container__table__check{
  color: #007bff;
}

.management-form{
  margin: 2em;
  gap: 1em;
  display: flex;
  flex-direction: column;
}

.management-form__inputs{
  gap: 1em;
  display: flex;
  flex-direction: column;
}

.management-form__inputs__name{
  width: 100%;
}

.management-form__actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.management-form__actions button{
  width: 45%;
}

.management-form__small-inputs{
  width: 25%;
}

.management-form__small-inputs-field{
  gap: 1em;
  display: flex;
}

.management-form__checkboxes{
  display: flex;
  justify-content: space-between
}
