* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #E9E9E9;
}