@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #e9e9e9;
}

.product-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 4em;
  margin-bottom: 1em;
}

.product-container__card {
  width: 20em;
  height: 30em;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: white;
  padding-bottom: 0.5em;
}

.product-container__image-placeholder {
  width: 100%;
  height: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

.product-container__image-placeholder:hover {
  transition: 0.5s;
  filter: blur(2px);
}

.product-container__about {
  height: 4em;
}

.product-container__image {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.product-container__info {
  box-sizing: border-box;
  height: 6em;
  width: 98%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.5em 0 0.5em;
  border-radius: 0 0 6px 6px;
}

.product-container__name {
  cursor: pointer;
  font-size: 1.3em;
  font-weight: 500;
}

.product-container__brand {
  font-size: 0.9em;
  font-weight: 400;
}

.product-container__price {
  font-size: 1.1em;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.login-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(85deg, white 55%, #005b96 40%);
}

.login-page__section {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  height: 500px;
  margin-left: 55%;
}

.login-page__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.login-page__header {
  text-align: justify;
  font-size: 25px;
  color: #333;
}

.login-page__form-group {
  margin-top: 55px;
  margin-bottom: 20px;
}

.login-page__form-group input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}

.login-page__btn {
  margin: 25px;
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 17px;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.login-page__btn--submit {
  background-color: #0aba46;
  color: #fff;
}

.login-page__btn--google {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 25px;
  cursor: pointer;
  font-size: 10px;
  transition: transform 0.2s ease-in-out;
}

.login-page__btn--google:hover,
.login-page__btn--submit:hover {
  transform: scale(1.05);
}

.login-page__btn--google img {
  width: 20px;
  margin-right: 10px;
}

.login-page__terms {
  display: block;
  text-align: center;
  margin-top: 40px;
  color: #005a99;
  text-decoration: none;
  font-size: 14px;
}

.login-page__terms:hover {
  text-decoration: underline;
}

.user-registration-page {
  background: linear-gradient(265deg, white 55%, #005b96 40%);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
}

.sign-in-form__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
}

.sign-in-form__title {
  width: 90%;
  font-size: 23px;
  margin-left: 20px;
  margin-bottom: 8px;
}

.sign-in-form {
  max-width: 400px;
  height: auto;
  margin-left: 50px;
  background-color: #ffffff;
  color: black;
  padding: 20px;
  border-radius: 20px;
}

.sign-in-form__field {
  width: 90%;
}

.sign-in-form__submit-btn {
  width: 40%;
  padding: 10px;
  background-color: #0aba46;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  display: block;
  align-items: center;
  justify-content: center;
}

.sign-in-form__submit-btn:hover {
  transform: scale(1.05);
}

.sign-in-form__password-warning {
  color: red;
  font-size: 14px;
  margin-top: -7px;
}

.sign-in-form__container {
  width: 90%;
  display: flex;
  gap: 20px;
}

.sign-in-form__field--grow {
  flex: 1;
}

.sign-in-form__field--shrink {
  flex: 0.5;
}

.product-management{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12vh;
  height: 100%;
}

.table-container {
  width: 80%;
  margin: 2em auto auto auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2vh;
}

.table-container__title {
  text-align: center;
  margin-bottom: 20px;
}

.table-container__tool-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-container__search-bar {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.table-container__search-bar__icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

.table-container__search-bar input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.table-container__search-bar input::placeholder{
  color: #9e9ea7;
}

.table-container__search-bar:focus,
.table-container__search-bar input:hover
{
  outline: none;
  border-color: #007bff;
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(0 48 73 / 10%);
}

.table-container__tool-bar__buttons button{
  margin-left: 5px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
}

.table-container th{
  background-color: #007bff;
  color: white;
  padding: 10px;
}

.table-container td{
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.table-container td:last-child button{
  padding: 2px 5px;
  margin: 0 3px;
  width: 40%;
}

.table-container td:last-child, th:last-child{
  max-width: 25%;
  width: 25%;
  padding: 5px;
}

.table-container__table__image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.table-container__table__check{
  color: #007bff;
}

.change-page-buttons{
  display: flex;
  gap: 1em;
}

.change-page-buttons__button, .change-page-buttons__page-index, .change-page-buttons__page-index--selected, .invisible{
  border: none;
  font-size: medium;
  font-weight: 400;
  background-color: transparent;
  color: black;
  padding: 10px 15px;
  border-radius: 3px;
  transition: all 0.1s ease-in-out;
}

.change-page-buttons__button{
  text-decoration: underline;
}

.change-page-buttons span{
  display: flex;
  align-items: center;
}

.change-page-buttons__page-index--selected{
  background-color: #007bff;
  color: white;
}

.change-page-buttons__page-index:hover{
  background-color: #007bff;
  color: white;
}

.change-page-buttons__button:hover, .change-page-buttons__page-index:hover{
  cursor: pointer;
}

.invisible{
  display: none;
}

.management-form{
  margin: 2em;
  gap: 1em;
  display: flex;
  flex-direction: column;
}

.management-form__inputs{
  gap: 1em;
  display: flex;
  flex-direction: column;
}

.management-form__inputs__name{
  width: 100%;
}

.management-form__actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.management-form__actions button{
  width: 45%;
}

.management-form__small-inputs{
  width: 25%;
}

.management-form__small-inputs-field{
  gap: 1em;
  display: flex;
}

.management-form__checkboxes{
  display: flex;
  justify-content: space-between
}

.product-container{
  display: flex;
  padding: 5vh 5vw 5vh 5vw;
  gap: 2vw;
  margin-bottom: 30vh;
}

.product-container__image{
  background-color: white;
  height: 60vh;
  width: 45vw;
  border-radius: 15px;
  box-shadow: 0 0 5px 0 rgb(219, 219, 219);
}

.product-container__info{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  background-color: white;
  height: 70vh;
  width: 45vw;
  padding: 3vh 2vw 3vh 2vw;
  border-radius: 15px;
  box-shadow: 0 0 5px 0 rgb(219, 219, 219);
}

.product-container__info__category-name, .product-container__info__brand-name{
  font-weight: 300;
  font-size: 12px;
}

.product-container__info__product-options{
  display: flex;
  flex-wrap: wrap;
  gap: .5vw;
  width: 100%;
}

.option{
  width: 4vw;
  border-radius: 5px;
  box-shadow: 0 0 1px 0 black;
  text-align: center;
  padding: 5px;
}

.option:hover{
  box-shadow: none;
  background-color: rgb(206, 206, 206);
  transform: scale(1.2);
}

.product-container__info__buy-button{
  background-color: #0aba46;
  color: white;
  font-weight: 600;
  font-size: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 35vw;
  align-self: center;
  margin-top: 3vh;
}

.product-container__info__buy-button:hover{
  transform: scale(1.01);
}

.product-container__info__buy-button:active{
  background-color: #107d35;
  transform: scale(1);
}

.product-container__info__add-cart-button{
  background-color: #394f40;
  color: white;
  font-weight: 600;
  font-size: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 35vw;
  align-self: center;
}

.product-container__image{
  padding: 3em;
  height: 70vh;
}

.image{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.similar-products{
  padding: 0 5vw 0 5vw;
}

.product-search {
  padding: 80px 0 54px;
}

.product-search__container .product-search__container__header {
  margin-bottom: 50px;
  text-align: center;
}

.product-search__container .product-search__container__header h2 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #444444;
}

.product-search__container .product-search__container__header div {
  text-align: center;
}

.product-search__container__products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-search__container__products-grid__product-card {
  width: 100%;
  max-width: 380px;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 20px;
  background: #fafafa;
}

.product-search__container__products-grid__product-card__image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 50px;
  background: #f0f0f0;
}

.product-search__container__products-grid__product-card__image img {
  max-width: 100%;
  max-height: 100%;
}

.product-search__container__products-grid__product-card__product-details {
  padding: 30px;
}

.product-search__container__products-grid__product-card__product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-search__container__products-grid__product-card__product-details h4 a:hover {
  color: #fbb72c;
}

.product-search__container__products-grid__product-card__product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-search__container__products-grid__product-card__product-details__bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-search__container__products-grid__product-card__product-details__bottom__product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.product-search__container__products-grid__product-card__product-details__bottom__product-links a {
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-search__container__products-grid__product-card__product-details__bottom__product-links a:hover {
  color: #fbb72c;
}

.cart-container{
  display: flex;
  padding: 2em 5em 0 4em;
  min-height: 75%;
}

.cart-container__product-list {
  flex: 3;
  margin-right: 20px;
}

.cart-container__product-list__product-item {
  width: 100%;
  max-width: 70em;
  height: auto;
  display: flex;
  align-items: center;
  background-color: #eee;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

.cart-container__product-list__product-item__product-image {
  width: 220px;
  height: 150px;
  object-fit: contain;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.cart-container__product-list__product-item__product-details {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.cart-container__product-list__product-item__product-details__name {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.cart-container__product-list__product-item__product-details__description {
  font-size: 1em;
  color: #555;
  margin: 5px 0 10px 0;
}

.cart-container__product-list__product-item__product-details__quantity-controls {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.cart-container__product-list__product-item__product-details__quantity-controls__button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  margin: 0 5px;
}

.cart-container__product-list__product-item__product-details__quantity-controls__button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.cart-container__product-list__product-item__product-details__quantity-controls__display {
  font-size: 1.2em;
  margin: 0 10px;
}

.cart-container__product-list__product-item__price {
  flex: 1;
  text-align: right;
}

.cart-container__product-list__product-item__delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.cart-container__order-summary {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-height: 20em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #ddd;
  box-sizing: border-box;
}

.cart-container__order-summary__coupon,
.cart-container__order-summary__cep {
  margin-bottom: 10px;
}

.cart-container__order-summary__coupon p,
.cart-container__order-summary__cep p {
  margin: 0 0 10px 0;
}

.cart-container__order-summary__coupon input,
.cart-container__order-summary__cep input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.cart-container__order-summary__summary {
  margin-bottom: 20px;
}

.cart-container__order-summary__summary__details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.buy-button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.cart-container__order-summary__summary__buy-button:hover {
  background-color: #218838;
}


.container-contact {
  max-width: 1200px;
  margin: 50px auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.contact-info {
  flex: 1;
}

.contact-info h2 {
  font-size: 2rem;
  text-align: left;
  color: #333;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

.map-container {
  margin: 20px 0;
}

.social-media {
  margin-top: 20px;
}

.social-media a {
  display: inline-block;
  margin-right: 15px;
}

.social-media img {
  width: 40px;
  transition: transform 0.3s ease;
}

.social-media img:hover {
  transform: scale(1.2);
}

.contact-form {
  flex: 1;
}

.contact-form h1 {
  text-align: left;
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 1.1rem;
  color: #555;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 120px;
}

button[type="submit"] {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .contact-wrapper {
    flex-direction: column;
  }

  .contact-form h1,
  .contact-info h2 {
    font-size: 2rem;
  }
}

.social-media a {
  display: inline-block;
  margin-right: 15px;
  font-size: 2.5rem;
  color: #333;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-media a:hover {
  color: #007bff;
  transform: scale(1.2);
}


.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.address-container {
  background-color: #f5f5f5;
  padding: 20px;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.address-form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.form-group {
  margin-bottom: 15px;
}

.address_form__field {
  width: 100%;
  font-size: 16px;
}


.button-group {
  grid-column: span 2;
  display: flex;
  justify-content: flex-end;
}

.btn-address {
  width: 150px;
  padding: 10px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.icon {
  width: 40px;
  height: 45px;
  margin-right: 8px;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.form-group:nth-child(8),
.form-group:nth-child(9) {
  grid-column: span 1;
}

@media (max-width: 600px) {
  .address-form {
    grid-template-columns: 1fr;
  }

  .button-group {
    grid-column: 1;
    justify-content: center;
  }
}

.container-history {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  padding: 20px;
}

.history-wrapper {
  max-width: 900px;
  background-color: #ffffff;
  padding: 50px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: justify; 
}

.history-info h1 {
  font-size: 42px;
  margin-bottom: 30px;
  color: #2c3e50;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.history-info p {
  font-size: 20px;
  line-height: 1.8;
  color: #7f8c8d;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
}

.history-info strong {
  color: #3498db; 
  font-weight: bold;
}

.history-info p:last-child {
  margin-bottom: 0; 
}

@media (max-width: 768px) {
  .history-wrapper {
    padding: 30px 20px;
  }

  .history-info h1 {
    font-size: 32px;
  }

  .history-info p {
    font-size: 18px;
  }
}
